<div ng-controller="accountCtrl">
	<md-toolbar>
	    <div class="md-toolbar-tools">
	      <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
	        <ng-md-icon icon="menu"></ng-md-icon>
	      </md-button>
	      <h3> Mon compte
	      </h3>
	      <span flex></span>
	    </div>

	</md-toolbar>

	<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="account-form form-group col-xs-12">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
       
        coucou
      </md-card>
    </md-content>
</div>