<div ng-controller="accountCtrl">

	<md-content  layout="row" layout-align="center" >
      <form name="formAccount" id="formAccount" class="container-fluid" ng-submit="checkLog()"  novalidate>
		  <div class="row">
			<div class="form-group col-xs-6">
				<md-input-container>
				  <md-input-container class="md-icon-float md-block">
   				    <md-icon md-svg-src="img/icons/ic_person_black_24px.svg" class="name"></md-icon>
					<input type="text" name="login" ng-model="account.login" placeholder="Identifiant" ng-required="true">
				  </md-input-container>
						<div ng-messages="formAccount.login.$error" md-auto-hide="false">
							<div class="error" ng-message="required" ng-show="formAccount.login.$error">Ce champ est obligatoire.</div>
						</div>
				</md-input-container>
			</div>
			
			<div class="col-xs-6">
				<md-input-container>
				  <md-input-container class="md-icon-float md-block">
				    <md-icon md-svg-src="img/icons/ic_lock_black_24px.svg" class="name"></md-icon>
					<input type="password" name="password" ng-model="account.password" placeholder="Mot de passe" ng-required="true">
				  </md-input-container>
				  <div ng-messages="formAccount.password.$error"  md-auto-hide="false">
					<div class="error" ng-message="required" ng-show="formAccount.password.$error">Ce champ est obligatoire.</div>
				  </div>
				</md-input-container>
			</div>
			
			
		</div>
	
		<div class="row">
			<div class="form-group col-xs-6">
				<md-input-container>
					<md-input-container class="md-icon-float md-block">
						<md-icon md-svg-src="img/icons/ic_email_black_24px.svg" class="name"></md-icon>
						<input type="email" name="email" ng-model="account.email" placeholder="Email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
					</md-input-container>
						<div ng-messages="formAccount.email.$error" role="alert" md-auto-hide="false" >
							<div ng-message-exp="['minlength', 'maxlength', 'pattern']" class="error" ng-show="formAccount.email.$error">Cet email est invalide.</div>
						</div>
				</md-input-container>
			</div>
			<div class="form-group col-xs-6">
				<md-input-container>
				  <md-input-container>
				  <md-icon md-svg-src="img/icons/ic_phone_black_24px.svg" class="name"></md-icon>
					<input type="tel" name="phoneNumber" ng-model="account.phoneNumber" placeholder="Téléphone" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/">
				  </md-input-container>
					<div ng-messages="formAccount.phoneNumber.$error"  role="alert" md-auto-hide="false">
						<div class="error" ng-message="pattern" ng-show="formAccount.phoneNumber.$error">Ce numéro est invalide.</div>
					</div>
				</md-input-container>
			</div>
		</div>
		<div  layout="row" layout-align="center">
			
				<md-button type="submit" value="Enregistrer" ng-click="save()" ng-disabled="formAccount.$invalid" class="md-raised md-primary">Enregistrer</md-button>
				<md-button type="reset" ng-click="resetForm(formAccount)" class="md-raised md-primary-red">Reset</md-button>
			
		</div>
	</form>
	</md-content>
</div>