<div ng-controller="faqCtrl">
    <div class="jumbotron">
        <div>
            <div class="page-header">
                <h1 class="text-center">FOIRE AUX QUESTIONS <br></h1>
                <div class=" well-sm entete"></div>
            </div>
            <br><br>
            <div class="panel-group" id="accordion" class="margin">
                <div class="panel panel-default" ng-repeat="item in items">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{item.id}}">
                              {{item.question}}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{item.id}}" class="panel-collapse collapse ">
                        <div class="panel-body">
                          {{item.answer}}
                        </div>
                    </div>
                </div>
                
            </div>      
        </div>
    </div>
</div>