 <div ng-controller="adminCtrl">

 	<md-toolbar>
	    <div class="md-toolbar-tools">
	      <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
	        <ng-md-icon icon="menu"></ng-md-icon>
	      </md-button>
	      <h3> Administration
	      </h3>
	      <span flex></span>
	    </div>

	</md-toolbar>

	<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="account-form ">
      <md-card flex-gt-sm="70" flex-gt-md="60">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h1><span>Modifier les informations d'administration</span></h1>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="formAdmin">
      

            <md-input-container class="md-block">
             <label><md-icon md-svg-src="images/icons/ic_person_black_24px.svg" class="name"></md-icon>Identifiant</label>
              <input type="text" name="login" ng-model="vm.formData.login" required="" md-maxlength="50"/>
              <div ng-messages="formAdmin.login.$error" ng-if='formAdmin.login.$dirty' role="alert" multiple="">
                <div ng-message="required" class="my-message">Veuillir saisir un login.</div>
                <div ng-message="md-maxlength" class="my-message">Le login saisi est trop long.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
            <label><md-icon md-svg-src="images/icons/ic_lock_black_24px.svg" class="name"></md-icon>Mot de passe</label>
              <input type="password" name="password" ng-model="vm.formData.password"  required="" md-maxlength="50"/>
              <div ng-messages="formAdmin.password.$error"  ng-if='formAdmin.password.$dirty' role="alert" multiple="">
                <div ng-message="required" class="my-message">Veuillir saisir un mot de passe.</div>
                <div ng-message="md-maxlength" class="my-message">Le mot de passe saisi est trop long.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
            	<label><md-icon md-svg-src="images/icons/ic_lock_black_24px.svg" class="name"></md-icon>Confirmer le mot de passe</label>
             	<input type="password" name="confirmPassword" ng-model="vm.formData.confirmPassword"  required="" md-maxlength="50"/>
              	<div ng-messages="formAdmin.confirmPassword.$error"  ng-if='formAdmin.confirmPassword.$dirty' role="alert" multiple="">
	                <div ng-message="required" class="my-message">Veuillir saisir un mot de passe.</div>
	                <div ng-message="md-maxlength" class="my-message">Le mot de passe saisi est trop long.</div>
              </div>
            </md-input-container>



			<div class="center">
	            <md-button ng-disabled="!formAdmin.$valid" ng-click="checkLog()" class="md-raised md-primary">&nbsp Enregistrer &nbsp</md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>
</div>
